<h1 class="text-center"><%= @user.username %></h1>

<div class="row">
  <div class="col-md-6"><h3>Currently Reading</h3>
  	 <% if reading? %>
  	 <ul>
  	 	<% currently_reading.each do |book| %>
  	 		<li><%= book.title.titleize %></li>
  	 	<% end %>
  	 </ul>	
  	 <% end %>
  </div>
  <div class="col-md-6"><h3>Finished Books</h3>
  	<ul>
  		<% finished_books.each do |book| %>
  			<li><%= book.title %></li>
  		<% end %>
  	</ul>
  </div>
</div>