<% if logged_in?%>
  
      <li><%= link_to book.title.titleize, book_path(book) %>, by: <%=book.author.name.titleize %></li>
 
<% else %>

      <li><%= book.title.titleize %>, by: <%=book.author.name.titleize %></li>
    
<% end %>