<h1>List of Books</h1>

<ul>
    <%= render partial: "index", collection: @books, as: :book %>

<!-- 	<% @books.each do |book| %>
		<li><%= "#{book.title.titleize} by: #{book.author.name.titleize} " %>
			<p><%= link_to("Add Book", addbook_path(book.id), method: :post) if logged_in? && user_books.exclude?(book) %></p>
		</li>
	<% end %> -->
</ul>