<%= render partial: 'show', locals: {book: @book} %>


<%= link_to("Add Book", addbook_path(@book), method: :post) if logged_in? && user_books.exclude?(@book) %>

<% if favorite?(@book) %>
	<strong>Favorite</strong>
<% end %>


<% if logged_in? && user_books.include?(@book) %>
	<%= link_to("Bookmarks", edit_user_book_path(@user_book))%><br>

	<a href="#" class="js-next" data-id="<%=@user_book.id%>">Next...</a>
<% end %>